* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
}

html, body, #root { 
    height: 100vh;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 11px;
}

a:hover {
    color: rgb(133, 133, 133);
}

main {
    flex-grow: 1;
    padding: 1rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 1rem;
    background-color: rgb(32, 32, 32);
    text-align: center;
    font-size: 10px;
}

#menu { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(32, 32, 32);
    color: white;
    box-shadow: 0 2px;
}

#menu nav a {
    margin-left: 1rem;
}

.navmenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerProductos img:hover {
    transform: scale(1.05);
}

.containerProductos {
    display: flex;
    flex-wrap: wrap;
    transition: all 300ms;
}

.articulos {
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(44, 44, 44, 0.25);
    border-radius: 0.5rem;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.articulos img {
    padding: 15px;
    width: 250px;
}

.contador {
    display: flex;
    padding: 10px 0;
    justify-content: center;
}


